@import url(components/featured-posts.css);
@import url(pages.css/homepage.css);
@import url(pages.css/blogpost.css);
@import url(components/header.css);
@import url(components/footer.css);
@import url(components/sidebar.css);
@import url(components/buttons.css);
@import url(components/subscription-form.css);

body{
  width: 90%;
  background-color: #FCE9F1;
  display:block;
  margin: 0 auto;
}

/* Custom typography */

h1, h2, h3 {
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: #ff6f61;
}

/* Blockquote */
blockquote {
  font-size: 20px;
  font-style: italic;
  color: #777777;
  background-color: #CDB4DB;
  border-left: 4px solid #FFC8DD;
  margin: 20px 0;
  padding: 10px 20px;
}